FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=cambiar-por-un-secreto-seguro-en-produccion
PORT=5000

# Configuración de Active Directory / LDAP (Host-Only Adapter)
AD_SERVER=192.168.56.10
AD_PORT=389
AD_BASE_DN=DC=IFTS,DC=LOCAL
AD_ADMIN_DN=CN=Administrator,CN=Users,DC=IFTS,DC=LOCAL
AD_ADMIN_PASSWORD=tu_password_de_administrador

# Mapeo de grupos de seguridad a roles
AD_MAP_ADMIN=GG_Gerencia
AD_MAP_OPERADOR=GG_Soporte
AD_MAP_CONSULTA=GG_RRHH

# Configuración de JWT
JWT_EXPIRATION_HOURS=8

# Restricción horaria
RESTRICCION_HORARIA_DESHABILITADA=True

